@-moz-document url-prefix(about:blank) {
    html > body:empty {
        background-color: #1c1f26 !important;
    }
}
@-moz-document url(about:blank) {
    html > body:empty {
        background-color: #1c1f26 !important;
    }
}

/* Change scrollbar */
* { scrollbar-width: thin; }
:root:not(:hover) { scrollbar-color: transparent transparent !important; }
:root { scrollbar-color: #4C566A #1c1f26 !important; }

/* Tweetdeck css */
@-moz-document domain(tweetdeck.twitter.com) {
    /* Fix gaps between buttons */
    .js-tweet-actions > * .icon{
        font-size: 20px !important;
        padding:10px;
    }
    .js-tweet-actions > * .icon:hover{
        background-color: #2b303b !important;
    }
    .js-tweet-actions > * .pull-right {
        display:block !important;
        position:absolute !important;
        pointer-events: none !important;
    }
    html.dark .margin-r--10, html.dark .margin-rl {
        margin-right: 0px !important;
    }
    /* Disable scrollbars */
    .js-column-scroller {
		width: 105%!important;
	}
}
