credentials.json
client_secrets.json
.stfolder/
.stversions/
.stignore
nohup.out
.zcompdump
history.log
watch_later
appimage/
ff
looking-glass-client
__pycache__/
plugged/
plug.vim
database
log
pid
state
sticker.sql
bookmarks
.netrwhist
pio*
platformio
*log
autofakku.sh
