/*
This is a compact theme made for use with tiling
window managers. The main goal is to reduce
unnecessary wasted space at the top of the
browser, and also provide easy access to
extensions without having their ugly icons in
the tab bar.

PREREQUISITES
- Gohufont
- Compact theme
*/
@-moz-document url(chrome://browser/content/browser.xul)
{
#main-window,
  browser[type="content-primary"],
  browser[type="content"],
  tabbrowser#content,
  #content,
  browser[type="content"] > html {
     background: #1c1f26 !important;
  }
}
/* Context menu icons */
#context-navigation {
 transform: scale(.75) !important;
 margin: -5px;
}

:root[uidensity=compact] #urlbar,
:root[uidensity=compact] .searchbar-textbox {
  font-size: unset !important;
  min-height: 24px !important;
  padding-top: 0px !important;
}


 :root[uidensity=compact] #identity-box {
  max-height: 0px;
}

:root[uidensity=compact] #nav-bar .toolbarbutton-1 {
  padding: 0px !important;
}

/* Compatibility with auto-hide.css */
:root[uidensity=compact] #navigator-toolbox {
  --nav-bar-height: 26px !important;
}

/* Variables */
:root {
    --tab-toolbar-navbar-overlap: 0px !important; /* fix for full screen mode */
    --tab-min-height: 28px !important;
    --tab-font-size: 14px;
    --favicon-margin: 0px;
    --color-dark: #1c1f26;
    --my-tab-min-width: 38px;
    --toolbarbutton-border-radius: 0px !important;
    --urlbar-height: 28px !important;
    --urlbar-toolbar-height: 28px !important;
    --urlbar-container-height: 28px !important;
    --toolbarbutton-hover-background: #FFFFFF !important;
    --color-red: #bf616a;
    --color-blue: #81a1c1;
    --color-magenta: #b48ead;
    --color-yellow: #ebcb8b;
    --color-cyan:#88c0d0;
    --color-green:#a3be8c;
    --color-fg:#D8DEE9;
    --icon-size: 14px;
    --empty-icon:"";
    --dl-icon:"";
    --back-icon: "";
    --forward-icon: "";
    --reload-icon: "";
    --menu-icon: "";
    --stop-icon: "";
}

#urlbar-container {
    margin-inline: 0px !important;
    padding-block: 0px !important;
}
#urlbar {
    padding: 0px !important;
}
#urlbar:not(.megabar), #urlbar.megabar > #urlbar-background, #searchbar {
    background-color: #2E3440 !important;
}
/*
#urlbar-container {
    display: none !important;
}
#navigator-toolbox:focus-within :moz-any(#nav-bar) > * #urlbar-container {
    display: block !important;
    position: absolute !important;
    width: 100%;
    margin-inline: 0px !important;
    padding-block: 0px !important;
}*/
/* Hide URL bar when not in use (new tab or F6 to focus)*/
#nav-bar:not([customizing="true"]):not([inFullscreen]) {
    margin-top: -28px !important;
    background: #232323;
    transition: transform 50ms ease-out !important;
    z-index: -1;
}
#navigator-toolbox:focus-within :-moz-any(#nav-bar) {
    transform: translateY(25px);
    z-index: 1;
}

/* Fix active tab being stupid */
.tab-background { display: none; height: 0px; }
.tab-content { height: 26px; }
.tab-loading-burst { display: none !important; }



:root:not([customizing]) #navigator-toolbox {
}
:root:not([customizing]) #navigator-toolbox:-moz-any(:hover,:focus-within) {
}

#add-ons-button {
    display:none;
}
#urlbar:-moz-lwtheme > #urlbar-background, #navigator-toolbox #searchbar:-moz-lwtheme {
    background: var(--color-dark) !important;
    border: none !important;
}
.urlbar-icon {
    display: none !important;
}

  #urlbar[breakout][breakout-extend] {
    top: 5px !important;
    left: 0px !important;
    width: 100% !important;
    padding: 0px !important;
  }
  /* for alternate Density settings */
  [uidensity="compact"] #urlbar[breakout][breakout-extend] {
    top: 1px !important;
  }
  [uidensity="touch"] #urlbar[breakout][breakout-extend] {
    top: 4px !important;
  }

  /* Prevent shift of URL bar contents */

  #urlbar[breakout][breakout-extend] > #urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding: 0 !important;
  }

  /* Do not animate */

  #urlbar[breakout][breakout-extend] > #urlbar-background {
    animation: none !important;
  }

  /* Remove shadows */

  #urlbar[breakout][breakout-extend] > #urlbar-background {
    box-shadow: none !important;
  }


/* Remove margin and color around extension icons */
#TabsToolbar .toolbarbutton-1, .tabbrowser-arrowscrollbox::part(scrollbutton-up), .tabbrowser-arrowscrollbox::part(scrollbutton-down) {
    margin: 0px !important;
    background: var(--color-dark) !important;
}
#alltabs-button { display: none; } /* Remove all tabs button */
/* Removes extension icons and badges */

.toolbarbutton-icon { display: none; padding: 0px; }
.toolbarbutton-badge { display: none; padding: 0px; }
.toolbarbutton-badge-stack { padding: 0px !important; }
/* Set extension icons */
* .webextension-browser-action:before { content:var(--empty-icon); }
/* .webextension-browser-action:hover:before { content:var(--full-icon); }*/
* toolbarbutton[id*="downloads-button"]:before{ content:var(--dl-icon); }
/* toolbarbutton[id*="downloads-button"]:hover:before{ content:var(--dl-icon); }*/
* #downloads-indicator-anchor { display:none; }
/* Menu icon ☰ ← → ↻ */
/* Private browsing icon */
.private-browsing-indicator { background-image: none !important; }
.accessibility-indicator, .private-browsing-indicator { width: 0px !important; margin-top: 3px !important; }
.private-browsing-indicator:before { content: var(--full-icon); color: var(--color-magenta); }
/* Set colors for extension icons */
toolbarbutton:before{ font-family: Material Icons; padding: 5px; font-size:var(--icon-size) !important; }
toolbarbutton[id*="checkerplus"]:before{ color: var(--color-red); }
toolbarbutton[id*="darkreader"]:before{ color: var(--color-blue); }
toolbarbutton[id*="ublock"]:before{ color: var(--color-green); }
toolbarbutton[label*="Violentmonkey"]:before{ color: var(--color-magenta); }
toolbarbutton[label*="Stylus"]:before{ color: var(--color-cyan); }
toolbarbutton[id*="back-button"]:before{ content: var(--back-icon) !important; }
toolbarbutton[id*="forward-button"]:before{ content: var(--forward-icon) !important; }
toolbarbutton[id*="reload-button"]:before{ content: var(--reload-icon) !important; }
toolbarbutton[id*="stop-button"]:before{ content: var(--stop-icon) !important; }
toolbarbutton[id*="PanelUI-menu-button"]:before{ content: var(--menu-icon) !important; }

#notification-popup-box { padding: 0px !important; }
#identity-icon, #tracking-protection-icon-box, #blocked-permissions-container { display: none; }
#identity-box, #tracking-protection-icon-container { padding-inline: 0px !important; }
#identity-box:before, #tracking-protection-icon-container:before { font-family: Material Icons; font-size:12px; padding: 4px; opacity: 0.5; }
#tracking-protection-icon-container:before { content: ""; }
#identity-box:before { content: ""; }

.tab-icon-image{ margin-left: var(--favicon-margin); }

/* Remove tab border */
#tabbrowser-tabs { color: var(--color-fg); font-family: Operator Mono Light, Fira Code; font-style: normal; font-size:var(--tab-font-size); border:none !important; }
/* Remove tab separators */
.tabbrowser-tab::before, .tabbrowser-tab::after{ display: none !important; }
/* Set background for current tab */
#tabbrowser-tabs .tabbrowser-tab[selected] .tab-content { font-style: normal !important; background:#3b4252 !important; }
/* Tab: hovered colors */
#tabbrowser-tabs .tabbrowser-tab:hover:not([selected]) .tab-content { background: #2e3440 !important; }

/* Tab text and icon placement */
.tab-content { padding: 0 5px !important; margin-top: -1px !important; }

/* Tab height */
#TabsToolbar { height: var(--tab-min-height) !important; }
.tab-label { line-height: 1.5em !important; }

/* Disable new tab button */
#tabs-newtab-button { display:none !important; }
toolbarbutton#scrollbutton-up, toolbarbutton#scrollbutton-down {display:none !important;}
/* This should do the same thing */
toolbarbutton[id^="scrollbutton"] {
    display: none !important;
}

/* Disable close tab button */
#tabbrowser-tabs .tabbrowser-tab .tab-close-button { display:none!important; }


/* Essential rule for reducing minimum tab width */
.tabbrowser-tab:not([pinned]){ min-width: var(--my-tab-min-width) !important; }
/* Optional rules for widths below 40px */
/* Reduce icon's right margin for less wasted space */
.tabbrowser-tab:not([pinned]) .tab-icon-image { margin-right: 5px !important; }
/* Max width of tab */
.tabbrowser-tab:not([pinned]) { max-width: 100% !important; }
.tabbrowser-tab:not([pinned]):not([fadein]) { max-width: 0.1px !important; }

/* Set color of tab bar background */
#tabbrowser-tabs {
    background: var(--color-dark) !important;
    border: none !important;
}

/* Yeet border and make tab border match inactive tab background */
#navigator-toolbox {
    border: none !important;
    --tabs-border-color: rgba(0,0,0,0) !important;
}

/* Set color of nav bar */
#nav-bar {
    background: var(--color-dark) !important;
    border: none !important;
    box-shadow: none !important;
    margin-top: -1px !important; border-top-width: -1px !important;
    margin-bottom: -1px !important; border-bottom-width: -1px !important;
}

/* Make urlbar megabar appear more compact */
/* Set the pref browser.urlbar.megabar to true */
#urlbar[breakout]{
    margin-inline-start: 0px !important;
    width: 100% !important;
    left: 0 !important;
    top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
}
#urlbar[breakout]:not([open]){ bottom: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important; }
.urlbarView{ margin-inline: 0 !important; width: auto !important; }
.urlbarView-row{ padding: 0 4px !important; }
#urlbar-background{ animation: none !important; }
#urlbar-input-container{ padding: 0 !important; height: 100% !important; }
#identity-box{ padding-block: var(--urlbar-icon-padding) }

/* Remove ugly border around urlbar */
#urlbar:not(.megabar), #urlbar.megabar > #urlbar-background, #searchbar {
    border: none !important;
}

.titlebar-color, .browser-toolbar, findbar {
  background: rgba(49, 54, 59, 0.75)!important;
}

.tab-line {
  background: none !important;
}

.tab-background[selected=true] {
  background: #5294e2 !important;
  border-radius: 6px;
  border: none !important;
}

tab[selected="true"]::after, .tabbrowser-tab[beforeselected-visible]::after {
    opacity: 0 !important;
}

