#!/usr/bin/env sh

# X Specific
# Map caps lock to esc
xmodmap -e "clear lock" &
xmodmap -e "keysym Caps_Lock = Escape" &
# Restore monitor layout
if [ "$HOST" = "thnikk-desktop" ]; then
    ~/.screenlayout/dual_landscape.sh &
    sudo ddcutil setvcp 60 0x0f --sn C8LMTF091196 &
    sleep 1
    feh --bg-fill .config/wall1.jpg .config/wall2.jpg &
    # Fixes starting volume for pulseaudio
    fixAudio &
else
    xinput disable "Synaptics TM3075-002" & # Disable trackpad
    feh --bg-fill .config/wall1.jpg &
fi
# Start programs with session
dunst &
xsetroot -cursor_name left_ptr &
xset r rate 300 50 &	# Speed xrate up
unclutter &
picom &

ibus-daemon -drx &
if [ ! -f ~/.cache/ibus.check ]; then
    mkdir -p ~/.cache 2>/dev/null
    # Add anthy to engines
    gsettings set org.freedesktop.ibus.general preload-engines "['xkb:us::eng', 'anthy']"
    # (this one may be unnecessary)
    gsettings set org.freedesktop.ibus.general engines-order "['xkb:us::eng', 'anthy']"
    # Remove keybind
    gsettings set org.freedesktop.ibus.general.hotkey next-engine "[]"
    gsettings set org.freedesktop.ibus.general.hotkey triggers "[]"
    # Change default input mode to hiragana
    gsettings set org.freedesktop.ibus.engine.anthy.common input-mode 0
    # Disable tray icon (preferences still accessible as application)
    gsettings set org.freedesktop.ibus.panel show-icon-on-systray false && touch ~/.cache/ibus.check
fi
if [ ! -f ~/.cache/nemo.cehck ]; then
    mkdir -p ~/.cache 2>/dev/null
    gsettings set org.nemo.window-state start-with-status-bar false
    gsettings set org.nemo.window-state start-with-menu-bar false
    touch ~/.cache/nemo.check
fi

# Universal
/usr/lib/mate-polkit/polkit-mate-authentication-agent-1 &
/usr/lib/kdeconnectd &
udiskie &
mpd & # MPD preferred here over service to avoid network hangs
