Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xcursor.theme: Breeze_Snow

*.font:	Operator Mono Book:pixelsize=18:antialias=true:autohint=true;
*.alpha: 1.0

Sxiv.foreground: #D8DEE9
Sxiv.background: #1c1f26
