configuration {
    theme: "thnikk";
    font: "Gotham Rounded Book 12";
    /*font: "Operator Mono 14";*/
    width: 30;
    lines: 10;
    fixed-num-lines: false;
    yoffset: -200;
    show-icons: true;
    modi: "drun";
}
/* vim:ft=css
