window {
background-color: #1c1f26;
font-family: "Gotham Rounded Book";
font-size: 16px;
}

#input {
margin: 0px;
border: 0px;
background-color: #1c1f26;
color: #d8dee9;
}

#inner-box {
margin: 0px;
border: 0px solid yellow;
background-color: #2b303b;
}

#outer-box {
margin: 0px;
background-color: #1c1f26;
}

#text {
margin: 5px;
color: #d8dee9;
}

